form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #d2def5;
    border-radius: 10px;
    padding: 50px;
}